@inject IHttpContextAccessor Accessor

@{
    Layout = "LayoutSkillData";
}

<div class="card mt-5">
    <div class="card-header bg-secondary text-white">Form Input Data @* as @Accessor.HttpContext.Session.GetString("Username") with role = @Accessor.HttpContext.Session.GetInt32("Role")*@</div>
    <div class="card-body">

        <div class="form-group">
            <label>ID Training</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ID Training">
        </div>
        <div class="form-group">
            <label>ID Employee</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ID Employee">
        </div>
        <div class="form-group">
            <label>ID Trd</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ID Trd">
        </div>
        <div class="form-group">
            <label>Sub Training Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Sub Training Name">
        </div>
        <div class="form-group">
            <label>Trainer</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Trainer">
        </div>
        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Status">
        </div>
    </div>

    <a>
        <button type="submit" class="btn btn-primary" value="Save">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </a>
    </br>



